body{
	font-size: calc(10vmin - 2px);
	background-color: #cecece;
}

.wrapper{
	position: relative;
	width: 100vmin;
	height: 100vmin;
	box-sizing: border-box;
	margin: 0 auto;
	background-color: #ffff00;
	/*white-space: nowrap;*/

}
.field{
	width: calc(8em + 2px);
	height: calc(8em + 2px);
	overflow: hidden;
}
.square{
	display: inline-block;
	width: 1em;
	height: 1em;
	box-sizing: border-box;
}
.square:nth-of-type(odd){
	background-color: #101010;
}

.square:nth-of-type(even){
	background-color: #fefefe;
}